ServiciosWeb.ClienteConsola/Connected Services/ServiceClienteWCF/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosWeb.Datos.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosWeb.Datos.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfcliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cliente" nillable="true" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcliente" nillable="true" type="tns:ArrayOfcliente" />
  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FechaNac" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdTrabajador" type="xs:int" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cliente" nillable="true" type="tns:cliente" />
</xs:schema>